Source: ros-rolling-trac-ik-kinematics-plugin
Section: misc
Priority: optional
Maintainer: TRACLabs Robotics <robotics@traclabs.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-class-loader, ros-rolling-generate-parameter-library, ros-rolling-moveit-core, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-tf2-kdl, ros-rolling-trac-ik-lib, ros-rolling-urdf, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-trac-ik-kinematics-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-class-loader, ros-rolling-generate-parameter-library, ros-rolling-moveit-core, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-tf2-kdl, ros-rolling-trac-ik-lib, ros-rolling-urdf, ros-rolling-ros-workspace
Description: A MoveIt! Kinematics plugin using TRAC-IK
