Source: ros-kilted-trac-ik-kinematics-plugin
Section: misc
Priority: optional
Maintainer: TRACLabs Robotics <robotics@traclabs.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-class-loader, ros-kilted-generate-parameter-library, ros-kilted-moveit-core, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-tf2-kdl, ros-kilted-trac-ik-lib, ros-kilted-urdf, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-trac-ik-kinematics-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-class-loader, ros-kilted-generate-parameter-library, ros-kilted-moveit-core, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-tf2-kdl, ros-kilted-trac-ik-lib, ros-kilted-urdf, ros-kilted-ros-workspace
Description: A MoveIt! Kinematics plugin using TRAC-IK
